nav{
    display: flex;
    background-color:whitesmoke ;
    height: 100px;
    justify-content:space-between;
    align-items: center;
}
.youtube{
    display: flex;
    height: 100px;
}
.shorts{
display: flex;
list-style-type: none;
margin: space;
gap: 15px;
}